<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Ciência do Ser</h3>
      <h4>Módulo 1 - A Consciência</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/wdMfqMNMVOs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">Adentramos na última - e mais profunda - camada da nossa constituição: o SER, que ilumina todas as outras camadas e toda a Vida, entendendo a base para realização da felicidade nesta Vida e como experimentá-la no dia-a-dia.</p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>Aspecto Absoluto da Vida (Purusha)</li>
         <li>Metáforas do Ser</li>
         <li>3 aspectos da consciência</li>
         <li>Sat - Chit - Ananda</li>
         <li>7 passos da manifestação da consciência</li>
         <li>Meditação - Raja Yoga</li>
         <li>Formas de ativação da consciência</li>
       </ul>
     </div>
    </div>
    <div class="arquivos">
      <a href="https://drive.google.com/file/d/1f18SGeX--96S4aH5SjEtSwIWu3C-B_ax/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <%= content_tag :a, href: current_user.plano, target: "_blank" do -%>
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade
      <% end -%>
      <!-- <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603460578/mentoriaacendaaluz/planilha_aula_2-_Ana%CC%81lise_de_padro%CC%83es_mjy0jn.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a> -->
      <a href="https://drive.google.com/file/d/1HzUPeju5ewm_bB6u_VfUAOv-fpcOOsfl/view?usp=sharing" target="_blank"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
    <div class="arquivos" style="padding: 0;">
      <a href="https://drive.google.com/file/d/1Hq7zVaHdL2s5vw4naCvWHMx7QP7Yd2xT/view?usp=sharing" target="_blank"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade Modelo Preenchida</a>
    </div>
    <div style="max-width: 70%; margin: 0 auto; text-align: justify;">
      <h4 style="text-align: center; font-size: 1.7rem; padding: 1.5rem;">
        Trechos retirados do livro
        <br>
        <b>CIÊNCIA DO SER E ARTE DE VIVER</b>
        <br>
        <i>Maharishi Mahesh Yogui</i>
        <br>
      </h4>
      <i style="font-size: 1.3rem">
        O ser ou a existência encontra expressão nos diferentes aspectos da vida: pensar, falar, fazer, experimentar, sentir. Todos os aspectos da vida têm sua base no ser.
        Podemos dizer que a existência é a própria vida, enquanto o que existe é a fase fenomenal em constante mudança da realidade da existência.
        <br><b>A experiência mostra que o Ser é consciência de êxtase, a fonte de todo pensamento, de toda a criação existente. Encontra-se fora da existência relativa, onde o experimentador ou a mente é deixada desperta por si mesma com plena consciência de si mesma, sem qualquer experiência de um objeto.</b>
        Sem o conhecimento dos fundamentos da vida, a consciência da bem-aventurança absoluta, a vida é como um edifício sem alicerces. Toda vida relativa sem a base consciente do Ser é como um navio sem leme, sempre à mercê do mar revolto.
        <br><b>Por baixo da camada mais sutil de tudo o que existe no campo relativo está o campo abstrato e absoluto do Ser puro, que é imanifestado e transcendental. Não é matéria nem energia. É puro Ser, o estado de existência. Este estado de existência pura fundamenta tudo o que existe. Tudo é a expressão dessa existência pura ou Ser absoluto que é o constituinte essencial de toda vida relativa.
        Toda a criação é o campo da consciência em diferentes formas e fenômenos. A consciência é a irradiação do centro do ser puro. Por exemplo, a corrente elétrica de uma bateria atinge a lâmpada e se irradia como um feixe de luz. À medida que o feixe avança mais longe de sua fonte, sua intensidade diminui até atingir um limite em que a luz pode ser considerada nula. Da mesma forma, da bateria inesgotável do Ser, irradia a consciência de êxtase e, à medida que se afasta de sua fonte, o grau de êxtase diminui. Poderíamos falar da consciência aparecendo em todas as formas sutis e grosseiras de vida.</b>
        Não é obviamente exposto à percepção da mente, porque a mente está conectada em sua maior parte com os sentidos. A constituição da mente é tal que, para qualquer experiência, ela deve se associar aos sentidos e entrar em contato com o mundo exterior das formas e fenômenos.
        Tudo, exceto os próprios olhos, pode ser visto através dos olhos. Da mesma forma, tudo é baseado na natureza essencial da mente, Ser onipresente, e ainda, enquanto a mente está ocupada no campo projetado da diversidade manifestada, o Ser não é apreciado pela mente, embora seja sua própria base e constituinte essencial.
        O senhor do universo mora tão gentilmente no coração de todos para ver que ninguém sofre. Para manter o amor, a felicidade e a evolução ilimitadas de todos, o senhor onipresente do universo é tão gentil que habita naturalmente em tudo. Ninguém pode possivelmente remover-se Disto. É a onipresença do Ser que é a vida eterna, a essência da vida eterna.
        Viver constitui a vida prática da atividade cotidiana. O Ser, que é o constituinte essencial da criação, está na base de toda atividade, encontrando-se no campo do Absoluto. O ser forma a fonte básica de toda atividade do indivíduo e, naturalmente, nele e por ele é sustentada a atividade em todos os complexos e diversificados campos da vida cotidiana.
        <br><b>Porque o Ser está na raiz de toda a criação, na raiz de todas as tendências do homem, na raiz de todas as complexidades do comportamento e da sociedade, é fácil concluir que o Ser é a base de todos os seres vivos.</b>
      </i>
    </div>
  </div>
</body>
