<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Manifestações da Personalidade</h3>
      <h4>Módulo 1 - A Consciência</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/r1gdvXGSkZ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">Começamos a explorar nosso universo interno a partir da superfície, a nossa casca - a personalidade - entendendo onde ela está localizada no nosso sistema da consciência, quais suas funções, porquê e como conhecê-la.</p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>Purusha x Prakriti</li>
         <li>Essência x Personalidade</li>
         <li>Panchakoshas / 5 corpos</li>
         <li>Ego e Personalidade</li>
         <li>Mapas e filtros</li>
         <li>Modelos mentais</li>
       </ul>
     </div>
    </div>
    <hr>
    <div class="arquivos">
      <a href="https://drive.google.com/file/d/10XkMNZVHhl0ZedNhU4TIt3Oilh4SfDth/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603122748/mentoriaacendaaluz/planilha_aula_1-_Ana%CC%81lise_da_personalidade_v0ehnk.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <a href="https://res.cloudinary.com/dp7r7m459/image/upload/v1603123221/mentoriaacendaaluz/reflexoesaula1_op2ezg.png"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
  </div>
</body>
