<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Iluminando a Escuridão</h3>
      <h4>Módulo 1 - A Consciência</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/3a-yTQSUzNU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">Adentrando em um espaço um pouco mais profundo no nosso universo interno, na inconsciência, começamos a entender o que nos faz sofrer e como isso tudo se esconde de nós, podendo mapeá-la de diversas maneiras.</p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>5 Kleshas/misérias humanas que causam sofrimento</li>
         <li>Ciclo do sofrimento</li>
         <li>3 bloqueios dos 3 centros</li>
         <li>Consequências da inconsciência</li>
         <li>Crenças</li>
       </ul>
     </div>
    </div>
    <div class="arquivos">
      <a href="https://drive.google.com/file/d/1MEKCFq-yxwdBnHBvYpVZ5iu0_5N2OggB/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603460578/mentoriaacendaaluz/planilha_aula_2-_Ana%CC%81lise_de_padro%CC%83es_mjy0jn.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <a href="https://drive.google.com/file/d/1tAm8S9mIeV-6YqloDS82ezgmWdX0JcOl/view?usp=sharing" target="_blank"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
    <div class="arquivos" style="padding: 0;">
      <a href="https://drive.google.com/file/d/1iDQryPZ_bUQNWjgtDhywhNP9rXN6BCFR/view?usp=sharing" target="_blank"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade Modelo Preenchida</a>
    </div>
  </div>
</body>
