<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Relações: a escola da vida</h3>
      <h4>Módulo 2 - A Vida Prática</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/dhhCVO5EpT8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">
     As nossas relações nos mostram tudo sobre nós: o que precisamos lapidar e o que precisamos aprender. Tudo começa no nosso sistema familiar até se desenrolar pra relações mais superficiais… mas independente do grau, é na motivação diária (amar ou ser amado) de relacionar-se que a transformação acontece!
     </p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>2º nível de consciência/chakra sexual</li>
         <li>energia criadora</li>
         <li>dualidade e polaridades</li>
         <li>pais e sistema familiar</li>
         <li>culpa e reprodução de padrões</li>
         <li>relacionamentos amorosos</li>
         <li>o espelho</li>
         <li>círculos sociais</li>
       </ul>
     </div>
    </div>
    <hr>
    <div class="arquivos">
      <!-- SLIDES -->
      <a href="https://drive.google.com/file/d/1Jy7RbUCF0jfcHPJIoaYwtoloOFL4_rtT/view?usp=sharing" target="_blank">
        <i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <!-- ATIVIDADE -->
      <a href="https://drive.google.com/file/d/1Z3fcdLD90JHshJKlgpZfx_DauTEopoCv/view?usp=sharing" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <!-- REFLEXÕES DIÁRIAS -->
      <a href="https://drive.google.com/file/d/1RKYYuktDMlV2UQ1YR2kXTFseaf2NkFcL/view?usp=sharing" target="_blank">
        <i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
    <!-- ATIVIDADE MODELO PREENCHIDA -->
<!--     <div class="arquivos" style="padding: 0;">
      <a href="https://drive.google.com/file/d/120unlc58ncpVm24_YIBp1Jv9PuFmZcU5/view?usp=sharing" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade Modelo Preenchida</a>
    </div> -->
  </div>
</body>
