<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Rotina Consciente e Saúde Integral</h3>
      <h4>Módulo 2 - A Vida Prática</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/7pQmXQ4pnWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">
     A vida prática mostra nossa (in)consciência em ação. E ela começa na nossa relação com a saúde e o andamento da nossa vida, a rotina, trazendo a importância de equilibrar e se unir a hábitos harmoniosos através do livre arbítrio nas pequenas coisas cotidianas.</p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>Níveis de consciência</li>
         <li>Buscas humanas</li>
         <li>1º nível de consciência</li>
         <li>3 qualidades do reino material (gunas)</li>
         <li>Equilíbiro na rotina</li>
         <li>Descanso</li>
         <li>Estresse e doença</li>
         <li>Alimentação</li>
       </ul>
     </div>
    </div>
    <hr>
    <div class="arquivos">
      <!-- SLIDES -->
      <a href="https://drive.google.com/file/d/1tAIFTF1mkfCrjWWhLuB8TpTF7P8MD0FW/view?usp=sharing" target="_blank">
        <i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <!-- ATIVIDADE -->
      <a href="">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <!-- REFLEXÕES DIÁRIAS -->
      <a href="https://drive.google.com/file/d/1h6EYgtGOIdXUN1ykLvMSwqpHiGXTrljO/view?usp=sharing" target="_blank">
        <i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
    <!-- ATIVIDADE MODELO PREENCHIDA -->
    <div class="arquivos" style="padding: 0;">
      <a href="https://drive.google.com/file/d/1Hq7zVaHdL2s5vw4naCvWHMx7QP7Yd2xT/view?usp=sharing" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade Modelo Preenchida</a>
    </div>
  </div>
</body>
