<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Consciência Coletiva</h3>
      <h4>Módulo 3 - A Sociedade</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
        <iframe src="https://www.youtube.com/embed/D4P_V0Jxsx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="detalhes">
     <p style="place-self: center; text-align: right; width: 65%;">
      Não adianta ter uma vida sensacional se você não se coloca a serviço das causas do mundo! Agora entramos no aspecto coletivo e entendemos o impacto da nossa consciência individual na consciência coletiva, aprofundando nas grandes divisões contemporâneas e nos problemas planetários.     </p>
     <div>
       <h4>TÓPICOS</h4>
       <ul id="topicos">
         <li>3º e 4º nível de consciência/chakra cardíaco e laríngeo</li>
         <li>dharma</li>
         <li>karma</li>
         <li>consciência coletiva e eras humanitárias</li>
         <li>a fonte dos problemas</li>
         <li>as 3 divisões</li>
       </ul>
     </div>
    </div>
    <hr>
    <div class="calendly">
      <a href="https://calendly.com/sarahsalim/mentoria-individual-2-acenda-a-luz-clone" target="_blank"><i class="far fa-calendar-alt fa-2x" style=" vertical-align: middle;"></i> Clique e agende sua Mentoria Individual</a>
    </div>

    <div class="arquivos">
      <!-- SLIDES -->
      <a href="https://drive.google.com/file/d/1DvK62mFEkpWmoDE3ypzYQmalgTqJtjV4/view?usp=sharing " target="_blank">
        <i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <!-- ATIVIDADE -->
      <a href="https://drive.google.com/file/d/154pxgBbPN8rLkm9QsHIakNFnl7a2IBka/view?usp=sharing" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <!-- PAINEL PLANETARIO -->
      <a href="https://drive.google.com/file/d/1xfSZV0xhf4dafiFoqwErpp68NSvyz1mU/view?usp=sharing" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Painel Construído na Aula ao vivo
      <a href="https://miro.com/welcomeonboard/GWhZOfyBE7SArGeyXqgoDne6fo3V7jtAVw4gBvqkwUrJSQi0lDI6D23fSzY3dAAo" target="_blank">
        <i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Contribua para o painel
      <!-- REFLEXÕES DIÁRIAS -->
      <a href="https://drive.google.com/file/d/1PCG7ReKk5UBe_hT717F27j4bAMFfpU9J/view?usp=sharing" target="_blank">
        <i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div>
  </div>
</body>
