<body class="semear" style="background: #f3e9d2";>

  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-12 col-md-4">
        <%= image_tag "logosemearvc_clean.png" %>
      </div>
      <div class="col-sm-12 col-md-8">
        <h2 style="padding: 0; color: #d3ac4a"><b>O SOLO </b>| Autocuidado</h2>
        <h4>A saúde de um solo determina o destino daquilo que semeamos. Já parou para pensar como você e os seus sonhos tem a mesma relação?<br>Vem descobrir mais sobre como os seus sonhos irão se <b>REALIZAR MUITO MAIS FÁCIL</b> quando você cuidar do seu corpo e da sua mente. Mas muito mais do que isso, vem descobrir como você pode fazer isso da melhor maneira!</h4>
        <h4>Recomendações: para melhores rendimentos, pedimos para que você faça as atividades logo após aos videos de Aula 1 e Aula 2. Este é um retiro-curso e foi assim desenhado para fornecer à vocês uma experiência imersiva (realmente sair do caos da rotina) no autocuidado, sendo assim recomendamos que, se possível, tirem um dia para mergulhar conosco nesse retiro!</h4>
      </div>
      <div class="col-12">
    <!-- AULINHAS -->
        <div class="autoc">
    <!-- PRATICA MATINAL -->
          <div class="card-yoga">
            <iframe src="https://www.youtube.com/embed/SLSNFt1q4tg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-yoga-infos">
              <div>
                <h2>Prática matinal</h2>
                <p>Iniciando o contato com o autocuidado: o despertar do corpo e da consciência através da prática de Yoga Asanas, respiração diafragmática (e Pranayama) e aquietamento mental</p>
              </div>
            </div>
          </div>
    <!-- PRÁTICA NOTURNA -->
          <div class="card-yoga">
            <iframe src="https://www.youtube.com/embed/6XReWSWlWdE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-yoga-infos">
              <div>
                <h2>Prática noturna</h2>
                <p>Encerrando a atividade do dia com o relaxamento profundo do corpo usando Yoga Asanas específico para relaxamento e respiração consciente</p>
              </div>
            </div>
          </div>
        </div>

        <div class="autoc">
    <!-- AULA 1 -->
          <div class="d-flex flex-column">
            <div class="card-yoga">
              <iframe src="https://www.youtube.com/embed/hSZj7sTHl8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-yoga-infos">
                <div>
                  <h2>Aula 1</h2>
                  <p>Mergulho no conhecimento: integração mente e corpo, estresse e ansiedade, as camadas de nossa constituição (Koshas) e dicas práticas para a saúde de cada uma delas.</p>
                </div>
              </div>
            </div>
            <br>
            <a href="https://drive.google.com/file/d/1ZPCaY5EuRMhs2vH_Bkqy7bKkJjsYvqAb/view?usp=sharing" class="btn btn-warning btn-quero btn-lg" style="border-radius: 8px;letter-spacing: 0.5px;" id="ativ1" target="_blank">
              Atividade 1
            </a>
          </div>
    <!-- AULA 2 -->
          <div class="d-flex flex-column">
            <div class="card-yoga">
              <iframe src="https://www.youtube.com/embed/anU4iMbLIY4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-yoga-infos">
                <div>
                  <h2>Aula 2</h2>
                  <p>Conhecendo o ciclo do hábito e como fazer para transformar um mau hábito sem perder de vista o monitoramento dessa transformação.</p>
                </div>
              </div>
            </div>
            <br>
            <a href="https://drive.google.com/file/d/1gxQbb_KpuUrJNwQb19TahUP-Skt3-7T7/view?usp=sharing" class="btn btn-warning btn-quero btn-lg" style="border-radius: 8px;letter-spacing: 0.5px;" id="ativ2" target="_blank">
              Atividade 2
            </a>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
          <div>
            <h5>Quer conferir os slides que preparamos com SUPER carinho pra vocês?</h5>
          </div>
          <div class="">
            <a href="https://drive.google.com/file/d/1W8Z9jO1iaWkeH2hCCPLCR3rY24A15pCt/view?usp=sharing" class="btn btn-warning btn-quero btn-lg" style="border-radius: 8px;letter-spacing: 0.5px;" id="ativ2" target="_blank">
              Slides
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
