<div class="container">
  <div class="row">
    <div class="col-12" id="semearvc">
      <%= image_tag "logosemearvc_clean.png" %>
    </div>
    <div class="col-12">
      Lorem ipsum dolor sit amet consectetur adipisicing, elit. Exercitationem dolores qui esse dolorum, corporis veritatis fugit nesciunt tenetur eveniet quam, molestiae quibusdam dolore, sapiente ex, illum aliquid dignissimos error commodi?
    </div>

<!-- AULINHAS -->
    <div class="yoga">
<!-- PRATICA MATINAL -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/SLSNFt1q4tg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>Prática matinal</h2>
            <p>Iniciando o contato com o autocuidado: o despertar do corpo e da consciência através da prática de Yoga Asanas, respiração diafragmática (e Pranayama) e aquietamento mental</p>
          </div>
        </div>
      </div>
<!-- PRÁTICA NOTURNA -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/6XReWSWlWdE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>Prática noturna</h2>
            <p>Encerrando a atividade do dia com o relaxamento profundo do corpo usando Yoga Asanas específico para relaxamento e respiração consciente</p>
          </div>
        </div>
      </div>
    </div>

    <div class="yoga">
<!-- AULA 1 -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/hSZj7sTHl8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>Aula 1</h2>
            <p>Mergulho no conhecimento: integração mente e corpo, estresse e ansiedade, as camadas de nossa constituição (Koshas) e dicas práticas para a saúde de cada uma delas.</p>
          </div>
        </div>
      </div>
<!-- AULA 2 -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/anU4iMbLIY4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>Aula 2</h2>
            <p>Conhecendo o ciclo do hábito e como fazer para transformar um mau hábito sem perder de vista o monitoramento dessa transformação.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- logo
textinho
4 videos (pratica matinal, noturna primeira linha
segunda linha coloco as duas aulas, embaixo da primeira primeiro botão
e da segunda aula o 2 btn
e abaixo de tudo o botão com slides)
botão 1: slides
botão 2: atividade 1
botão 3: atividade 2
 -->
