<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3>Meditação Transcendental ®</h3>
    </div>
      <div class="maincontainer">
        <div class="card">
          <div class="front-card">
            <h3>O QUE<br>É?</h3>
          </div>
          <div class="back-card">
            <p>É uma técnica simples, natural e sem esforço, praticada
            por 20 minutos duas vezes ao dia enquanto sentados de olhos fechados.</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>PARA QUE SERVE?</h3>
          </div>
          <div class="back-card">
            <p>A técnica da MT permite que a atividade da mente se aquiete para dentro,
            através de níveis mais silenciosos do pensamento, até você experimentar
            o nível mais silencioso e pacífico de sua própria consciência - a consciência pura.
            Durante a experiência, que flui naturalmente e sem esforço, a mente e o corpo atingem um estágio
            chamado de repouso em alerta, caracterizado por um PROFUNDO nível de relaxamento enquanto nossa mente ainda se mantém alerta. </p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>COMO VAI ME AJUDAR?</h3>
          </div>
          <div class="back-card">
            <p>A experiência regular da consciência transcendental alivia profundamente o sofrimento acumulado de nossas vidas,
            pois nos põe em contato direto, através da experiência, com o nível mais silencioso de nosso Ser - a fonte de nossos pensamentos.
            A MT combina a elegância da ciência e os profundos ensinamentos mais antigos</p>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
      </div> -->
    <hr>
    <!-- <div class="arquivos">
      <a href="https://drive.google.com/file/d/10XkMNZVHhl0ZedNhU4TIt3Oilh4SfDth/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603122748/mentoriaacendaaluz/planilha_aula_1-_Ana%CC%81lise_da_personalidade_v0ehnk.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <a href="https://res.cloudinary.com/dp7r7m459/image/upload/v1603123221/mentoriaacendaaluz/reflexoesaula1_op2ezg.png"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div> -->
  </div>
</body>
