<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3 id="tm-header">Introdução ao Maharishi Ayurveda</h3>
    </div>
      <div class="maincontainer">
        <div class="card">
          <div class="front-card">
            <h3>O QUE<br>É?</h3>
          </div>
          <div class="back-card">
            <p>O Ayurveda é considerado o sistema natural de saúde mais antigo e completo do mundo.</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>PARA QUE SERVE?</h3>
          </div>
          <div class="back-card">
            <p>O Maharishi Ayurveda se concentra em avivar a inteligência interna do corpo e fortalecer a capacidade de cura natural do corpo. A abordagem primária do Ayurveda é eliminar a causa raiz dos distúrbios, em vez de focar em sintomas específicos.
            Originado na Índia antiga há milhares de anos, esta abordagem holística à saúde cobre tudo, desde prevenção a manutenção, tratamento, rejuvenescimento e muito mais.</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>COMO VAI ME AJUDAR?</h3>
          </div>
          <div class="back-card">
            <p>De acordo com o Ayurveda, os distúrbios são principalmente resultado de desequilíbrios e impurezas que se acumulam no corpo ao longo do tempo.
             A especialidade do Ayurveda é diagnosticar desequilíbrios em um estágio inicial - mesmo antes de os sintomas surgirem, eliminando esses desequilíbrios do corpo e fornecendo conhecimento sobre como viver uma rotina saudável e equilibrada que apóia a nossa composição única de mente/corpo.</p>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
      </div> -->
    <br>
    <hr>
    <br>
    <div class="convite text-center medium-width" style="margin-bottom: 1rem;">
      <h3 style="font-family: helvetica-rounded-bold; font-size: 3rem;">Aprofundamento</h3><br>
      <p>O Ayurveda tem suas origens na civilização védica da Índia, o que o torna o sistema de saúde continuamente praticado mais antigo no mundo. Com mais de 6.000 anos, o Ayurveda (que se traduz como “conhecimento da vida”) é uma ciência da saúde altamente sofisticada; os textos antigos distinguiam entre dois tipos de diabetes e descreviam o sistema circulatório milhares de anos antes de tal conhecimento ser desenvolvido no Ocidente.</p>
      <p><br>A Fundação International Maharishi AyurVeda apresenta esta série de palestras sobre <em>educação em saúde</em>, Introdução ao Maharishi AyurVeda®, gravada no MERU na Holanda. Há duas opções de linguagem, a original e gratuita em inglês, e a dublada para o português (primeira aula gratuita e assinatura para assistir o restante).

Reserve um tempo para desfrutar desta série incrivelmente envolvente e fácil de seguir com nossos professores especialistas e cientistas renomados e profissionais médicos - Dr. Keith Wallace e Dra. Karen Pirc - enquanto eles simplificam os princípios fundamentais do Maharishi AyurVeda e fornecem uma ótima plataforma para traçar um curso prático para melhorar sua saúde e de sua família.

O renascimento do conhecimento ayurvédico de Maharishi Mahesh Yogi, conhecido como Maharishi AyurVeda, ajudou a estimular o interesse científico mundial pela Ayurveda e está contribuindo para a tendência atual em direção a uma saúde mais natural e holística.</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width text-center" style="background: #E7D29C; padding:1rem;">
      <a href="https://fs17.formsite.com/mumonline/avnjnkei0j/index.html" class="btn btn-warning btn-quero btn-lg" style="margin: 1rem" target="_blank">Página do curso em inglês</a>
      <a href="https://programasmaharishi.thinkific.com/courses/introducao-ao-maharishi-ayurveda-portugues?ref=4b7fff" class="btn btn-warning btn-quero btn-lg" style="margin: 1rem" target="_blank">Página do curso em português</a>
    </div>
    <!-- <div class="arquivos">
      <a href="https://drive.google.com/file/d/10XkMNZVHhl0ZedNhU4TIt3Oilh4SfDth/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603122748/mentoriaacendaaluz/planilha_aula_1-_Ana%CC%81lise_da_personalidade_v0ehnk.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <a href="https://res.cloudinary.com/dp7r7m459/image/upload/v1603123221/mentoriaacendaaluz/reflexoesaula1_op2ezg.png"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div> -->
  </div>
</body>
