<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3 style="font-size: 4rem;">Meditação Transcendental ®</h3>
    </div>
      <div class="maincontainer">
        <div class="card">
          <div class="front-card">
            <h3>O QUE<br>É?</h3>
          </div>
          <div class="back-card">
            <p>É uma técnica <b>simples</b>, <b>natural</b> e <b>sem esforço</b>, praticada
            por 20 minutos duas vezes ao dia enquanto sentados de olhos fechados.</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>PARA QUE SERVE?</h3>
          </div>
          <div class="back-card">
            <p style="font-size: 1.3rem;">A técnica da MT permite que a atividade da mente se aquiete para dentro,
            através de níveis mais silenciosos do pensamento, até você experimentar
            o nível mais silencioso e pacífico de sua própria consciência - a Consciência Pura.
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>COMO VAI ME AJUDAR?</h3>
          </div>
          <div class="back-card">
            <p>A experiência da consciência transcendental alivia profundamente o cansaço acumulado em nossas vidas,
            através da experiência do contato com o nível mais silencioso de nosso Ser - a fonte de nossos pensamentos.
            <em style="display:block;font-size: 0.8rem; line-height: 1.4rem;">A MT combina a elegância da ciência e os profundos ensinamentos antigos para nos revelar o potencial latente de nossas vidas,
          livres de estresse, plenos de felicidade e realização interiores, vivendo uma vida integrada.</em></p>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width" style="background: #E7D29C; padding:1rem;">
      </div> -->
    <br>
    <hr>
    <br>
    <div class="convite text-center medium-width" style="margin-bottom: 1rem;">
      <h3 style="font-family: helvetica-rounded-bold; font-size: 3rem;">O primeiro contato é a descoberta</h3><br>
      Convido vocês a descobrirem mais sobre a MT através dos vídeos abaixo.
      <br>Dois deles são vídeos do próprio Maharishi Mahesh Yogi, quem trouxe este conhecimento à nossa geração através da Tradição Védica, explicando sobre o funcionamento e estrutura da mente e da Meditação Transcendental.
      <br>E o outro é do Dr. Tony Nader. Quando Maharishi Mahesh Yogi, fundador do programa da Meditação Transcendental, planejou pelo futuro das organizações internacionais da Meditação Transcendental, ele escolheu um líder realizado no conhecimento:
      o Dr. Tony Nader, médico, neurocientista e acadêmico internacional com domínio em ambos ciência moderna e na atemporal sabedoria Védica.
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width text-center" style="background: #E7D29C; padding:1rem;">
      <iframe src="https://www.youtube.com/embed/zC9RPmfP2AE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/XqCEgYvUWgI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/IJwVGCY4hGw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <div class="arquivos">
      <a href="https://drive.google.com/file/d/10XkMNZVHhl0ZedNhU4TIt3Oilh4SfDth/view?usp=sharing" target="_blank"><i class="far fa-file-alt fa-2x" style=" vertical-align: middle;"></i> Slides</a>
      <a href="https://res.cloudinary.com/dp7r7m459/raw/upload/v1603122748/mentoriaacendaaluz/planilha_aula_1-_Ana%CC%81lise_da_personalidade_v0ehnk.xlsx"><i class="fas fa-tasks fa-2x" style=" vertical-align: middle;"></i> Atividade</a>
      <a href="https://res.cloudinary.com/dp7r7m459/image/upload/v1603123221/mentoriaacendaaluz/reflexoesaula1_op2ezg.png"><i class="fas fa-lightbulb fa-2x" style=" vertical-align: middle;"></i> Reflexões Diárias</a>
    </div> -->
  </div>
</body>
