<body style="background-color:#E7D29C; padding-bottom: 1rem;">
  <%= render 'shared/navbar' %>
  <div class="container-fluid col-sm-12 col-md-12">
    <div class="header">
      <h3 id="tm-header">Aulas de Yoga</h3>
    </div>
      <div class="maincontainer">
        <div class="card">
          <div class="front-card">
            <h3>O QUE<br>É?</h3>
          </div>
          <div class="back-card">
            <p>Prática milenar que trabalhar não só o corpo físico, mas também o energético, mental, emocional e espiritual através de posturas físicas (asanas) e respirações (pranayamas).</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>PARA QUE SERVE?</h3>
          </div>
          <div class="back-card">
            <p>A prática utiliza posturas corporais para facilitar posturas mentais e emocionais de flexibilidade, força e equilíbrio. Além disso, serve para purificar os canais energéticos a fim de deixar a energia fluir livremente através dos corpos, elevando a consciência.</p>
          </div>
        </div>
        <div class="card">
          <div class="front-card">
            <h3>COMO VAI ME AJUDAR?</h3>
          </div>
          <div class="back-card">
            <p>A prática física traz pro corpo a purificação através da liberação de toxinas e pra mente um estado de centramento, facilitando a experiência da Consciência Pura através da meditação.</p>
          </div>
        </div>
      </div>

    <hr>
<!-- AULA 1 -->
    <div class="yoga">
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/gOi8HvSq5iQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>AULA 1</h2>
            <p>Construção de estabilidade e força desde a base, os pés e o chão. Trabalha a raiz e o aterramento.</p>
          </div>
        </div>
      </div>
<!-- AULA 2 -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/kbs1x4nPX_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>AULA 2</h2>
            <p>Movimentação de águas paradas na região do quadril e genitais através de movimentos fluídos e da respiração. Trabalha abertura da pelve.</p>
          </div>
        </div>
      </div>
<!-- AULA 3 -->
      <div class="card-yoga">
        <iframe src="https://www.youtube.com/embed/vZ6g8E6ZP-Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>AULA 3</h2>
            <p>Ativação da energia vital através de exercícios potentes abdominais e travas energéticas. Trabalha fortalecimento e estímulo do abdômen.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="yoga2">
<!-- AULA 4 -->
      <div class="card-yoga" id="yoga4" style="opacity: 0.5;">
        <iframe src="https://www.youtube.com/embed/WmZH8S7q1LQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-yoga-infos">
          <div>
            <h2>AULA 4</h2>
            <p>Expansão dos membros superiores e da região torácica através de movimentos extensão da coluna e de invertidas sobre o pescoço. Trabalha abertura do coração e da garganta.</p>
          </div>
        </div>
      </div>
<!-- AULA 5 -->
      <div class="card-yoga" id="yoga5" style="opacity: 0.5;">
        <img src="https://www.flaticon.com/svg/static/icons/svg/483/483408.svg" alt="">
        <!-- <iframe src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <div class="card-yoga-infos">
          <div>
            <h2>AULA 5</h2>
            <p>Será disponibilizada em breve.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
