<div class="container-fluid">
  <div class="row">
    <div>
      <%= image_tag 'acenda_luz_limpo.png', class:'full-width' %>

      <div class="detalhes" style="background-color: #D3AC4A;">
        <h2>Abrimos duas turmas para atender dois horários</h2>
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-sm-4">
                <div class="price-table">
                  <div class="price-head">
                    <h4>QUINTAS-FEIRAS</h4>
                  </div>
                  <div class="price-content">
                    <ul>
                      <li>
                        <h3>das 19h às 22h</h3>
                      </li>
                    </ul>
                  </div>
                  <div class="price-button">
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"data-preference-id="386164863-7feacc4f-60c4-4447-a2eb-3ceac00e2cd2"></script>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4">
                <div class="price-table">
                  <div class="price-head text-center">
                    <h4>SÁBADOS</h4>
                  </div>
                  <div class="price-content">
                    <ul>
                      <li>
                        <h3><b>das 09H às 12H</b></h3>
                      </li>
                    </ul>
                  </div>
                  <div class="price-button">
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"data-preference-id="386164863-0f691aac-a094-4706-8434-2c061ae89724"></script>                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
