<div class="container-fluid m-0 p-0">
  <div class="row">
    <div>
      <%= image_tag 'acenda_luz_limpo.png', style:'width:100%, height:auto;' %>

      <div class="text-center align-items-center justify-content-center" id="details" style="background-color: black;">
        <h2>Inscreva-se para a próxima turma!</h2>
        <div class="container-fluid" style="padding: 2rem;">
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-xs-4 col-sm-4">
                <div class="group-table">
                  <div class="group-head">
                    <h4>QUINTAS-FEIRAS</h4>
                  </div>
                  <div class="group-content">
                    <ul>
                      <li>
                        <h3>das 19h às 22h<br>início em 15/10</h3>
                        <li><p>para pagamentos via boleto ou cartão de crédito</p></li>
                        <i class="fas fa-chevron-down fa-3x" style="color: black;"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="group-button">
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"data-preference-id="386164863-7feacc4f-60c4-4447-a2eb-3ceac00e2cd2"data-button-label="Quero esta!"></script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 2rem">
          <%= link_to 'Quero fazer por transferência bancária', transferencia_path, class:"btn btn-warning btn-quero btn-lg", style:"transform: scale(1.2)" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
