<div class="container-fluid m-0 p-0">
  <div class="row">
      <div class="col-xs-4"></div>
      <%= link_to image_tag("aprenda_mt.png"), "https://api.whatsapp.com/send?phone=5512996586095&text=Ol%C3%A1%20Hassan!%20Gostaria%20de%20saber%20mais%20sobre%20a%20Medita%C3%A7%C3%A3o%20Transcendental!%20Como%20funciona%3F" %>
      <!-- <hr class="hr-text m-0"> -->
      <!-- <%= link_to image_tag("acenda_luz.png"), "https://www.subscribepage.com/a2g0s2" %> -->
      <hr class="hr-text m-0">
      <%= link_to image_tag("transf_pessoal.png", class: "img-responsive"),"https://api.whatsapp.com/send?phone=5512996277707&text=Ol%C3%A1%20Sarah!%20Quero%20saber%20mais%20do%20processo%20individual%20com%20voc%C3%AA.%20Como%20funciona%3F" %>
  </div>
</div>
