<div class="container">
  <div class="row">
    <div style="background-image: url(<%= image_tag("acenda_luz.png") %>)"></div>
    <hr>
    <div class="vida_sentido col-xs-4">
      <h2>ILUMINE O QUE ESTÁ DENTRO DE VOCÊ E CRIE UMA <U>VIDA QUE FAÇA SENTIDO</U></h2>
      <i class="fas fa-arrow-alt-circle-down"></i>
      <span class="iconify" data-icon="mdi-bullseye-arrow" data-inline="false"></span>
    </div>
  </div>
</div>
