<body style="background: #f3e8d2;">
  <%= render 'shared/navbar' %>
  <div class="header pt-4" style="background: #d3ad4a;">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 full-width pt-4" style="background: #d3ad4a; padding:1rem; max-height: 80%">
      <iframe width="854" height="480.375" src="https://www.youtube.com/embed/pjDPzuR7fSg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="full-width" style="overflow: hidden; background: #d3ad4a;">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="https://www.w3.org/2000/svg"
      style="fill: #f3e9d2; width: 110%; height: 86px; transform: rotate(180deg);"
    >
      <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
    </svg>
  </div>
  <div style="max-width: 80%; margin: 0 auto; background: white;">
    <%= image_tag "informacoes_uteis.jpg" %>
  </div>
</body>
