<div class="container-fluid m-0 p-0">
  <div class="row">
    <div>
      <%= image_tag 'acenda_luz_limpo.png', style:'width:100%, height:auto;' %>

      <div class="text-center align-items-center justify-content-center" id="details" style="background-color: black;">
        <h2>Abrimos duas turmas para atender dois horários</h2>
        <div class="container-fluid" style="padding: 2rem;">
          <div class="container">
            <h3 style="color:white; align-items-center">
              Dados bancários:<br>
              Sarah Salim Vasconcelos<br>
              CPF 437.350.048-73<br>
              <br>
              Banco Itaú<br>
              Agência: 0247<br>
              Conta-Corrente: 08917-0<br>
              <br>
              Banco NuBank<br>
              Agência: 0001<br>
              Conta-corrente: 1734732-7
            </h3>
          </div>
          <h2>Envie o comprovante para o e-mail sarahsalim_@hotmail.com<br><u>com a turma que deseja participar</u></h2>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
