.header{
  background-image: asset-url('acenda_luz.png');
  background-size: cover;
  background-position: center;
  height: 140px;
}
.ilumine {
  color: white;
  background-color: black;
}
.iconify { width: 150px; height: 150px; }
.h2 {
  font-size: 40px;
}
.steps {
  vertical-align: middle;
  text-size: 24px;
}
.btn-quero {
  background-color: #D3AC4A;
  border-color: #D3AC4A;
  color: black;
}



