body {
  margin: 0px auto;
  max-width: 100vw;
  line-height: 1.5;
}
.row{
  margin: 0;
  padding: 0;
}
.ilumine {
}
.ilumine h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 500;
  color: #d3ac4a;
}

.py-4 h3 {
  padding: 1em;
}
#avatares {
  background-color: #D3AC4A;
}
#avatares .row {
}
#avatares h2 {
  padding-top: 1em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  font-family: 'Homemade Apple', cursive;
}
#fluxograma {
  padding: 2rem;
  background-color: #b1d08a;
}
#fluxograma h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
}
#desabrochar {
  padding: 2rem;
  background-color: #f3e9d2;
}
#desabrochar p {
  text-align: right;
  font-size: 0.8rem;
  font-weight: lighter;
}
.modulo {
  font-size: 0.5rem;
}
.modulo h3 {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.modulo h4 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.modulo h5 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.modulo h6 {
  font-size: 0.6rem;
  margin: 0;
}
.modulo p {
  text-align: left;
}
.presente {
  padding: 2rem;
  background: #fff;
}
.presente h2 {
  padding-top: 1em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  font-family: 'Homemade Apple', cursive;
}
.presente h5 {
  font-size: 1rem;
}
.presente .row {
  padding-bottom: 1.2rem;
}
#funcionar {
  color: white;
  background: #104F55;
}
#funcionar h3 {
  color: #d3ac4a;
  font-weight: bolder;
}
.experiences {
  position: relative;
}
.testemunhos {
  padding: 1.5rem;
}
.testemunhos h2 {
  color: #104F55;
  font-size: 2rem;
}
.garantia {
  text: center;
}
.garantia h5 {
  padding: 1.5rem;
  color: #3E5622;
  font-size: 1.4rem;
}
.garantia h4 {
  font-size: 1rem;
  font-weight: lighter;
}
.garantia h3 {
  font-size: 2rem;
  font-weight: lighter;
  font-family: 'Homemade Apple', cursive;
  padding-left: 8rem;
  padding-right: 8rem;
}
.garantia h2 {
  font-size: 2.5rem;
  font-weight: bolder;
}
.garantia .row {
}
#valor {
  padding: 1.5rem;
  background-color: #D3AC4A;
}
#valor h2 {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
.full-width{
  background-image: asset-url('acenda_luz_limpo.png');
  background-position: center; /* Center the image */
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.ilumine {
  color: white;
  background-color: black;
}
.iconify { width: 150px; height: 150px; }
.h2 {
  font-size: 40px;
}
.steps {
  vertical-align: middle;
  text-size: 24px;
}
.btn-quero {
  background-color: #D3AC4A;
  border-color: #D3AC4A;
  color: black;
  font-weight: bold;
}
.btn-claro {
  background-color: #E7D29C;
  border-color: #E7D29C;
  color: black;
  border-radius: 4px;
}

#caminho {
  color: #D3AC4A;
  font-size: 2em;
  padding: 1.5em;
}

#caminho h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.oldprice {
  background-image: asset-url('xmark.png');
  background-size: cover;
  background-position: center;
}
/* Experiences */
ul.experiences {
    padding-left: 15px;
    margin-top: -1px;
}
ul.experiences li {
    padding-left: 20px;
    margin-bottom: 1.5em;
    list-style: none;
    background: url('../img/misc/list-bullet-darkgray.png') no-repeat;
}

.where {
    font-size: 1.2857em; /* 18/16 -> 18px */
    font-weight: bolder;
    display: inline;
    margin-right: 0.5em;
}
.what {
    font-size: 0.75em; /* 12/16 -> 12px */
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #444444;
    display: inline-block;
    padding: 0 12px;
    margin: -5px 0.5em 0 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.what.green {
    background-color: #c4df9b;
}
.what.blue {
    background-color: #6dcff6;
}
.what.pink {
    background-color: #f06eaa;
}
.when {
    float: right;
    color: #b9b9b9;
    font-style: italic;
}
.description {
    display: block;
    margin-top: 0.5em;
}


/* BORDERS AND BULLETS */

p {
    /*CSS reset*/
    margin-bottom: 0;
}

ul.experiences li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 1.5em;
}

ul.experiences li:after {
    /* bullets */
    content: '';
    background-color: #d3ac4a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid white;
    position: absolute;
    left: -23px;
    top: 2.5px;
    margin-top: 4px;
}

ul.experiences li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 1px;
}

ul.experiences li:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}


#jornada h2 {
  text-align: left;
  padding-left: 3rem;
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}
#jornada h3 {
  text-align: right;
  padding-right: 3rem;
  margin-top: -0.3rem;
}
// Smallest device
@media (min-width: 100px) and (max-width: 320px) {
  .presente h2 {
    font-size:  1.3rem;
  }
  #fluxograma h3 {
    font-size: 1.3rem;
  }
  #caminho h2 {
      font-size: 1.4em;
      font-weight: bold;
  }
  #avatares h2 {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1.3rem;
      line-height: 1.8;
  }
  #funcionar h3 {
    font-size: 1.5rem;
  }
  .card-trip h3 {
    font-size: 1rem;
  }
  .card-trip {
    margin-bottom: 0.4rem;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  #jornada h2 {
    font-size: 2rem;
    padding-left: 0;
  }
  #jornada h3 {
    padding-right: 0;
    margin-top: 1rem;
  }
  #consciencias-lg {
    display: none;
  }
  .presente h2 {
    font-size: 1.3rem;
  }
  #fluxograma h3 {
    font-size: 1.3rem;
  }
  #caminho h2 {
      font-size: 1.4em;
      font-weight: bold;
  }
  #avatares h2 {
      padding-left: 1em;
      padding-right: 1em;
      font-size: 1.3rem;
      line-height: 1.8;
  }
  #funcionar h3 {
    font-size: 1.5rem;
  }
  .card-trip h3 {
    font-size: 1rem;
  }
  .card-trip {
    margin-bottom: 0.4rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width:767px) {
  #jornada h2 {
    font-size: 2rem;
    padding-left: 0;
  }
  #jornada h3 {
    padding-right: 0;
    margin-top: 1rem;
  }
  #consciencias-lg {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #jornada h2 {
    font-size: 2rem;
    padding-left: 0;
  }
  #jornada h3 {
    padding-right: 0;
    margin-top: 1rem;
  }
  #consciencias-sm {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  #consciencias-sm {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #consciencias-sm {
    display: none;
  }
}
