.card-trip {
  overflow: hidden;
  background: white;
  padding-right: 0;
  padding-left: 0;
  margin: 2px;
  text-align: center;
  margin-bottom: 0.4rem;
}
.card-trip > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.card-trip h3 {
  margin: 0;
  margin-left: 0.4rem;
  font-size: 1.4rem;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip h5 {
  word-wrap: break-word;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-group {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-trip .card-trip-infos {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 16px;
  top: 4px;
  width: 40px;
}

.card-price {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  border-radius: 4px;
  display: inline;
}

.card-price h4 {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

.card-price h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

.card-price p {
  font-size: 1.5rem;
  opacity: .7;
  margin: auto;
}

.card-price .card-price-infos {
  padding: 16px;
  position: relative;
}

.price-table {
  text-align: center;
  overflow: hidden;
  margin: 0px;
  margin-top: 1rem;
  background: #fff;
  box-sizing: border-box;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0,0,0,0.3);
  border-radius: 20px;
  transition: 0.5s;
}
.col-sm-4:nth-child(2) .price-table {
  transform: scale(1.1);
}
.col-sm-4:nth-child(1) .price-table {
  opacity: 0.5;
}
.price-table .price-head {
  padding: 50px;
  background: linear-gradient(45deg, #F3E9D2, #D3AC4A);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.price-table .price-head h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 700;
}
.price-table .price-head h2 {
  margin: 0;
  padding: 20px 0 0 ;
  color: #fff;
  font-size: 36px;
}
.price-content {
  position: relative;
  margin: 0px;
}
.price-content h2 {
  margin: 0;
}
.price-content ul {
  position: relative;
  margin: 0px;
  padding: 20px 0;
}
.price-content ul li {
  list-style: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 0;
  color: #777;
  cursor: pointer;
  border-left: 15px solid transparent;
  border-right:15px solid transparent;
  transition: 0.2s;
}
.price-content ul li:hover {
  border-left: 15px solid #D3AC4A;
  border-right:15px solid #D3AC4A;
}

.price-button {
  padding: 0 0 30px;
}
.price-button a {
  padding: 10px 40px;
  color: #fff;
  border-radius: 25px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(45deg, #F3E9D2, #D3AC4A);
}
.price-button a:hover {
  background: #D3AC4A;
}
.col-sm-4:nth-child(2) .price-table:hover {
  box-shadow: 0 20px 50px rgba(243,233,210,0.5);
  transition: 0.5s;
}
.gifts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-yoga {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-yoga > iframe {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-yoga > img {
  height: 200px;
  width: 100%;
  // object-fit: cover;
}
.card-yoga h2 {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-yoga p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-yoga .card-yoga-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-yoga-infos .card-yoga-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.yoga {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  grid-gap: 1rem;
}
.yoga2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1rem;
  grid-gap: 1rem;
}
#yoga4 {
  grid-column: 2 / span 2;
}
#yoga5 {
  grid-column: 4 / span 2;
}
// Smallest device
@media (min-width: 100px) and (max-width: 319px) {
  .gifts .card-trip {
    flex: 0 0 40%;
  }
  .gifts {
    justify-content: space-around;
  }
  .card-trip > img {
      height: 100px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  .yoga {
    display: grid;
    grid-template-columns: 1fr;
  }
  .yoga2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  #yoga4 {
    grid-column: 1 / span 1;
  }
  #yoga5 {
    grid-column: 2 / span 1;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .gifts .card-trip {
    flex: 0 0 40%;
  }
  .gifts {
    justify-content: space-around;
  }
  .card-trip > img {
      height: 120px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  .yoga {
    display: grid;
    grid-template-columns: 1fr;
  }
  .yoga2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  #yoga4 {
    grid-column: 1 / span 1;
  }
  #yoga5 {
    grid-column: auto / span 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .gifts .card-trip{
    flex: 0 0 40%;
  }
  .gifts {
    justify-content: space-around;
  }
  .card-trip > img {
      height: 120px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .gifts .card-trip{
    flex: 0 0 15%;
  }
  .card-trip > img {
      height: 100px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
  #mercadopago-checkout {
    z-index:1;
    display:block;
    position: absolute !important;
    left: 0% !important;
    top: 10% !important;
    width: 100% !important;
    height: 100% !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .gifts .card-trip{
    flex: 0 0 15%;
  }
  #mercadopago-checkout {
    z-index:1;
    display:block;
    position: absolute !important;
    left: 0% !important;
    top: 10% !important;
    width: 100% !important;
    height: 100% !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .gifts .card-trip{
    flex: 0 0 15%;
  }
  #mercadopago-checkout {
    z-index:1;
    display:block;
    position: absolute !important;
    left: 0% !important;
    top: 10% !important;
    width: 100% !important;
    height: 100% !important;
  }
}
.group-table {
  text-align: center;
  overflow: hidden;
  margin: 0px;
  margin-top: 1rem;
  background: #fff;
  box-sizing: border-box;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0,0,0,0.3);
  border-radius: 20px;
  transition: 0.5s;
}

.group-table .group-head {
  padding: 50px;
  background: linear-gradient(45deg, #F3E9D2, #D3AC4A);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.group-table .group-head h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 700;
}
.group-table .group-head h2 {
  margin: 0;
  padding: 20px 0 0 ;
  color: #fff;
  font-size: 36px;
}
.group-content {
  position: relative;
  margin: 0px;
}
.group-content h3 {
  margin: 0;
}
.group-content p {
  margin: 0;
}
.group-content ul {
  position: relative;
  margin: 0px;
  padding: 20px 0;
  padding-bottom: 0px;
}
.group-content ul li {
  list-style: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 0;
  color: #777;
  cursor: pointer;
  border-left: 15px solid transparent;
  border-right:15px solid transparent;
  transition: 0.2s;
}
.group-content ul li:hover {
  border-left: 15px solid #D3AC4A;
  border-right:15px solid #D3AC4A;
}
.group-button {
  padding: 1rem;
}

button.mercadopago-button {
  color: #fff;
  border-radius: 25px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(45deg, #F3E9D2, #D3AC4A);
}
button.mercadopago-button:hover {
  background: #d3ac4a;
}


