/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8rem;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  position: relative;
  max-width: 80%;
  height: 70vh;
  margin: 0 auto;
  background: none;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.card{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.card:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .front-card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #d3ac4a;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.back-card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.front-card h3, .back-card h3{
  padding: 30px;
  font-family: "helvetica-rounded-bold";
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: absolute;               /* 2 */
  top: 50%;
  left: 50%;
  margin-right: -50%;                  /* 3 */
  transform: translate(-50%, -50%);   /* 4 */
  color: white;
}

.front-card p, .back-card p{
  padding: 30px;
  font-family: "helvetica-light";
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  position: absolute;               /* 2 */
  top: 50%;
  left: 50%;
  margin-right: -50%;                  /* 3 */
  transform: translate(-50%, -50%)   /* 4 */
}

// Smallest device
@media (min-width: 100px) and (max-width: 319px) {
  .front-card p, .back-card p{
    font-size: 1rem;
    line-height: 1;
  }
  .front-card h3, .back-card h3{
    font-size: 1.5rem;
  }
  .maincontainer{
    grid-template-columns: 1fr;
    column-gap: 0;
    max-width: 80%;
    margin-bottom: 2rem;
    height: 70vh;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .front-card p, .back-card p{
    font-size: 1rem;
    line-height: 1;
  }
  .front-card h3, .back-card h3{
    font-size: 1.5rem;
  }
  .maincontainer{
    grid-template-columns: 1fr;
    column-gap: 0;
    max-width: 80%;
    height: 70vh;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .front-card p, .back-card p{
    font-size: 1rem;
  }
  .front-card h3, .back-card h3{
    font-size: 1.5rem;
  }
  .maincontainer{
    grid-template-columns: 1fr;
    column-gap: 5rem;
    max-width: 80%;
    height: 70vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .front-card p, .back-card p{
    font-size: 1.3rem;
  }
  .front-card h3, .back-card h3{
    font-size: 3.5rem;
  }
  .maincontainer{
    display: grid;
    column-gap: 8rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80%;
    height: 70vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
